<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | FunkoShop</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/1095b3c2ab.js" crossorigin="anonymous"></script>
</head>
<body>
      
    <%- include('../partials/header') %>

    <main > <!-- Inicio Main -->

        <section class="searcher container">
            <div class="searcher__container">
                <button class="searcher__btn" type="submit"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #000000;"></i></button>
                <form action="POST" autocomplete="off">
                    <input class="searcher__input" type="text" name="buscar" id="buscar" placeholder="código, nombre o categoria">
                </form>
            </div>
        </section>

        <section class="list container">
            <article class="list__title-container">
                <h1 class="list__title">LISTADO DE PRODUCTOS</h1>
                <div class="list__title-subcontainer">
                    <p>AGREGAR</p>
                    <a  href="create">
                        <button class="list__title-btn"><i class="fa-solid fa-square-plus fa-2xl" style="color: #ff3333;"></i></button>
                    </a>
                </div>
            </article>
            <article class="list__item-container">
                <table class="list__item-table">
                    <thead>
                        <tr>
                            <th class="list__item-td1">ID</th>
                            <th class="list__item-td1">Código</th>
                            <th class="list__item-td1">Nombre del Producto</th>
                            <th class="list__item-td1">Categoria</th>
                            <th class="list__item-td1"></th>
                            <th class="list__item-td1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="font__item-td2">1</td>
                            <td class="font__item-td2">STW001001</td>
                            <td class="font__item-td2">Baby Yoda Blueball </td>
                            <td class="font__item-td2">STAR WARS</td>
                            <td class="font__item-td2">
                                <button>
                                    <a href="edit/:id">
                                        <i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i>
                                    </a>
                                </button>
                            </td>
                            <td class="font__item-td2">
                                <button>
                                    <a href="delete/:id">
                                        <i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">2</td>
                            <td class="font__item-td2">STW001002</td>
                            <td class="font__item-td2">Boba Fett Fighter</td>
                            <td class="font__item-td2">STAR WARS</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">3</td>
                            <td class="font__item-td2">STW001003</td>
                            <td class="font__item-td2">Luke Skylwalker & Grogu</td>
                            <td class="font__item-td2">STAR WARS</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">4</td>
                            <td class="font__item-td2">STW001004</td>
                            <td class="font__item-td2">Stormtrooper Lightsaber</td>
                            <td class="font__item-td2">STAR WARS</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">5</td>
                            <td class="font__item-td2">PKM001001</td>
                            <td class="font__item-td2">Charmander Smiley</td>
                            <td class="font__item-td2">POKEMON</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">6</td>
                            <td class="font__item-td2">PKM001002</td>
                            <td class="font__item-td2">Dragonite Hi!</td>
                            <td class="font__item-td2">POKEMON</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">7</td>
                            <td class="font__item-td2">PKM001003</td>
                            <td class="font__item-td2">Pidgeotto Flying</td>
                            <td class="font__item-td2">POKEMON</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">8</td>
                            <td class="font__item-td2">PKM001004</td>
                            <td class="font__item-td2">Pikachu Smiley</td>
                            <td class="font__item-td2">POKEMON</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">9</td>
                            <td class="font__item-td2">PKM001005</td>
                            <td class="font__item-td2">Vulpix Fancy</td>
                            <td class="font__item-td2">POKEMON</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">10</td>
                            <td class="font__item-td2">HPT001001</td>
                            <td class="font__item-td2">Harry Potter & Hegwid</td>
                            <td class="font__item-td2">HARRY POTTER</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">11</td>
                            <td class="font__item-td2">HPT001002</td>
                            <td class="font__item-td2">Herminione Ball Dress</td>
                            <td class="font__item-td2">HARRY POTTER</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">12</td>
                            <td class="font__item-td2">HPT001003</td>
                            <td class="font__item-td2">Luna Lovegood Lion Mask</td>
                            <td class="font__item-td2">HARRY POTTER</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                        <tr>
                            <td class="font__item-td2">13</td>
                            <td class="font__item-td2">HPT001004</td>
                            <td class="font__item-td2">Snape Patronus</td>
                            <td class="font__item-td2">HARRY POTTER</td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-pen fa-2xl" style="color: #1d84b5;"></i></button></td>
                            <td class="font__item-td2"><button><i class="fa-solid fa-trash-can fa-2xl" style="color: #ff3333;"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </section>

    </main> <!-- Fin Main -->

    <%- include('../partials/footer') %>  
    
</body>
</html>